@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .news {
        &__items {
            grid-template-columns: repeat(2,470px);
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .news {
        &__items {
            grid-template-columns: repeat(2,350px);
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .menu {    
        &__block {
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            right: -100%;
            width: 50%;
            height: 100%;
            padding: 20px 15px;
            background-color: $main-blue-color;
            opacity: .8;
            transition: 0.6s all;
            &_active {
                right: 0;
            }
        }
        &__link {
            text-align: center;
            font-size: 30px;
            line-height: 60px;
        }
    }
    .hamburger {
        display: block;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 26px;
        height: 12px;
        span {
            display: block;
            height: 2px;
            width: 100%;
            background-color: $gray-color;
            margin-bottom: 2px;
            transition: 0.5s all;
        }
        &_active {
			span {
				margin-bottom: -2px;
				&:nth-child(1) {
					transform: translateY(3px) rotate(-45deg);
                }
				&:nth-child(2) {
					display: none;
                }
				&:nth-child(3) {
					transform: translateY(3px) rotate(45deg);
                }
            }
        }
    }
    .news {
        &__items {
            grid-template-columns: 1fr;
        }
    }
    .sidepanel {
        display: none;
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .menu {
        &__block {
            width: 100%;
        }
        &__link {
            font-size: 30px;
            line-height: 50px;
        }
    }
    .news {
        &__title {
            font-size: 25px;
        }
    }
    .text {
        &__title {
            font-size: 25px;
        }
        &__img {
            height: 200px;
        }
        &__descr {
            font-size: 14px;
        }
    }
    .admin {
        &__tabs {
            flex-direction: column;
        }
        &__form {
            &-update {
                width: 80%;
            }
        }
        &__title {
            font-size: 25px;
        }
        &__create, &__edit, &__delete, &__update {
            &-form {
                width: 100%;
            }
        }
        &__message {
            font-size: 20px;
        }
    }
}